<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta property="og:title" content="Dinosaur Planet Decompilation Status" />
  <meta property="og:description" 
        content="Current status of the Dinosaur Planet decompilation project ({{ total_matching_perct }}%)." />
  
  <title>Dinosaur Planet Decompilation Status</title>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  
  <link href="css/styles.css?v=2" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="content-container">
    <img src="images/logo-crop.png" alt="Dinosaur Planet Decompilation" class="logo" />
    <div class="content">
      <h1 class="content-title">Decompilation Status</h1>

      <div class="progress-section">
        <div class="img-col">
          <img src="images/map.png" />
        </div>
        <table class="progress-table">
          <tbody>
            <tr>
              <td>Total</td>
              <td class="progress-bar-cell">
                <progress value="{{ total_matching_ratio }}"></progress>
              </td>
              <td class="progress-perct">{{ total_matching_perct }}%</td>
              <td class="progress-funcs">{{ total_matching_funcs }} / {{ total_funcs }} funcs</td>
              <td class="progress-bytes">{{ total_matching_kb }} / {{ total_kb }} KiB</td>
            </tr>
            <tr>
              <td>Core</td>
              <td class="progress-bar-cell">
                <progress value="{{ core_matching_ratio }}"></progress>
              </td>
              <td class="progress-perct">{{ core_matching_perct }}%</td>
              <td class="progress-funcs">{{ core_matching_funcs }} / {{ core_funcs }} funcs</td>
              <td class="progress-bytes">{{ core_matching_kb }} / {{ core_kb }} KiB</td>
            </tr>
            <tr>
              <td>DLLs</td>
              <td class="progress-bar-cell">
                <progress value="{{ dll_matching_ratio }}"></progress>
              </td>
              <td class="progress-perct">{{ dll_matching_perct }}%</td>
              <td class="progress-funcs">{{ dll_matching_funcs }} / {{ dll_funcs }} funcs</td>
              <td class="progress-bytes">{{ dll_matching_kb }} / {{ dll_kb }} KiB</td>
            </tr>
            <tr>
              <td class="progress-L">└</td>
              <td rowspan="4">
                <table class="progress-table">
                  <tbody>
                    <tr>
                      <td>Engine</td>
                      <td class="progress-bar-cell">
                        <progress value="{{ dll_engine_matching_ratio }}"></progress>
                      </td>
                    </tr>
                    <tr>
                      <td>Modgfx</td>
                      <td class="progress-bar-cell">
                        <progress value="{{ dll_modgfx_matching_ratio }}"></progress>
                      </td>
                    </tr>
                    <tr>
                      <td>Projgfx</td>
                      <td class="progress-bar-cell">
                        <progress value="{{ dll_projgfx_matching_ratio }}"></progress>
                      </td>
                    </tr>
                    <tr>
                      <td>Objects</td>
                      <td class="progress-bar-cell">
                        <progress value="{{ dll_objects_matching_ratio }}"></progress>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td class="progress-perct">{{ dll_engine_matching_perct }}%</td>
              <td class="progress-funcs">{{ dll_engine_matching_funcs }} / {{ dll_engine_funcs }} funcs</td>
              <td class="progress-bytes">{{ dll_engine_matching_kb }} / {{ dll_engine_kb }} KiB</td>
            </tr>
            <tr>
              <td class="progress-L">└</td>
              <!---->
              <td class="progress-perct">{{ dll_modgfx_matching_perct }}%</td>
              <td class="progress-funcs">{{ dll_modgfx_matching_funcs }} / {{ dll_modgfx_funcs }} funcs</td>
              <td class="progress-bytes">{{ dll_modgfx_matching_kb }} / {{ dll_modgfx_kb }} KiB</td>
            </tr>
            <tr>
              <td class="progress-L">└</td>
              <!---->
              <td class="progress-perct">{{ dll_projgfx_matching_perct }}%</td>
              <td class="progress-funcs">{{ dll_projgfx_matching_funcs }} / {{ dll_projgfx_funcs }} funcs</td>
              <td class="progress-bytes">{{ dll_projgfx_matching_kb }} / {{ dll_projgfx_kb }} KiB</td>
            </tr>
            <tr>
              <td class="progress-L">└</td>
              <!---->
              <td class="progress-perct">{{ dll_objects_matching_perct }}%</td>
              <td class="progress-funcs">{{ dll_objects_matching_funcs }} / {{ dll_objects_funcs }} funcs</td>
              <td class="progress-bytes">{{ dll_objects_matching_kb }} / {{ dll_objects_kb }} KiB</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="timestamp-section">
        <small>
          As of <span id="git-commit-time" data-timestamp="{{ git_commit_timestamp }}">{{ git_commit_datetime }} UTC</span>
          (<a href="https://github.com/zestydevy/dinosaur-planet/commit/{{ git_commit_hash }}">{{ git_commit_hash_short }}</a>)
        </small>
      </div>

      <div class="links">
        <a href="https://github.com/zestydevy/dinosaur-planet">
          <button class="dino-btn">
            <span>GITHUB</span>
          </button>
        </a>
        <a href="https://discord.gg/H6WGkznZBc">
          <button class="dino-btn">
            <span>DISCORD</span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <script>
    const timestampElement = document.getElementById("git-commit-time");
    const timestamp = parseInt(timestampElement.dataset.timestamp) * 1000;
    const localDate = new Date(timestamp);
    const dtFormat = new Intl.DateTimeFormat(undefined, {
      year: "numeric",
      month: "short",
      day: "numeric",
      hour: "numeric",
      minute: "2-digit",
      timeZoneName: "short"
    });
    timestampElement.innerText = dtFormat.format(localDate);
  </script>
</body>
</html>